#my{
    zoom: 68%;
    }

h1
    {
        background: none repeat scroll 0 0 #E0E0E0;
        border-radius: 5px 5px 5px 5px;
        height: 50px;
        position: top;
        top: 0;
        width: 940px;
    }

    